{% extends "webapp/nav_tabs.html" %}
{% load staticfiles %}

{% block content %}
    <form method="GET" action="{% url "student_details" %}">
    <div>
        <h3>UQ Recommender Course System</h3>
    </div>
   <div>
    <label>Student ID: </label>
       <input type = "text"  placeholder="Student ID" name = "q" value="{{ request.GET.q }}">
    </div>
    <div class="submit_button_div">
        <input type = image value = "Search" class="submit_button" src="{% static 'images/button.png'%}">
    </div>
    </form>
{% endblock %}
