{% extends "webapp/nav_tabs.html" %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
    <div>
        <label>Student ID Future asdjhd:</label>
        <input type="text">
    </div>
    <div>
        <input type = submit>
    </div>
    </body>
    </html>
{% endblock %}