{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictive Marking System</title>
    <link href="{% static 'css/webpage.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body style="background-color:#F9F6FC; background-image: url({% static 'images/footer-device.png' %}); font-family: 'Comic Sans MS'>
<div class = "container">
    <header>
        <img src="{% static 'images/uq-logo-white.svg'%}" alt="UQ Logo">
    </header>
</div>

{% block content %}
{% endblock %}
</body>
</html>