{% load staticfiles %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Predictive Marking System</title>
        <link href="{% static 'css/webpage.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background-color:#F9F6FC; background-image: url({% static 'images/footer-device.png' %});font-family:Arial;">
    <div class="container">
        <header>
            <img src="{% static 'images/uq-logo-white.svg'%}" alt="UQ Logo">
        </header>
    </div>
    <nav style="width: 500px; margin: 0 auto; padding: 120px 0 40px;">
        <ul class="tabs">
            <li><a href='{% url "current_students" %}'>Current Students</a></li>
        </ul>
        <div class="tabcontents">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </nav>
    </body>
    </html>
