{%  extends "webapp/header.html" %}
{% block content %}

<div class="results">
<div class="result-title">
    <Label>Student ID: </Label> {{ request.GET.q }} </br>
</div>
<div class = "taken">
    <p class="taken_p"><b>Taken Courses</b></p>
</div>
<div class="predicted">
    <p class="predicted_p"><b>Recommended Courses</b></p>
</div>

<div>

    <table class="taken">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Obtained Marks</th>
        </tr>
        {% for obj in object_list1 %}
            <tr>
                <td>{{ obj.course }}</td>
                <td>{{ obj.course_name }}</td>
                <td>{{ obj.grade|floatformat:2 }}</td>

            </tr>
        {% endfor %}
    </table>

    <table class="predicted">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Predicted Marks</th>
        </tr>
        {% for obj in object_list2 %}
            <tr>
                <td>{{ obj.course }}</td>
                <td>{{ obj.course_name }}</td>
                <td>{{ obj.grade|floatformat:2 }}</td>

            </tr>
        {% endfor %}
    </table>

</div>

</div>
{% endblock %}