﻿div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: #49075E;
    clear: left;
    text-align: center;
}

h3
{
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
    color: #49075e;
}

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
}

.submit_button{
    height: 25px;
    width: 65px;
}

.submit_button_div{
    padding-top: 15px;
    padding-left: 350px;
}

.result-title
{
    font-size: 150%;
    padding-bottom: 30px;
    color: #3A034B;
}

.results
{
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

table
{
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #F5F2F8}
tr:nth-child(odd){background-color: white}

th {
    background-color: #8BC63E;
    color: white;
}

.taken
{
    float:left;
    width:45%;
}

.predicted
{
    width:45%;
    float:right;

}​

 .taken_p,.predicted_p
 {
     color: #3A034B;
     font-size: 125%;
 }

.taken_p{
    color: #3A034B;
    font-size: 125%;
}
